* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
}

.sidebar .navigation{
    padding: 15px 50px;
    background-color: #121212;
    border-radius: 10px;
}

.sidebar .navigation ul {
    list-style: none;
}

.sidebar .navigation ul li {
    margin-bottom: 20px;
}

.sidebar .navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: color 0.2s;
}

.sidebar .navigation ul li a:hover {
    color: purple;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
}

.sidebar .policies {
    position: absolute;
    bottom: 30px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
}

.sidebar .policies ul li a:hover {
    text-decoration: underline;
}

.main-container {
    margin-left: 260px;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topbar .prev-next-button button {
    color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    background-color: #000;
    margin-right: 10px;
}

/* Style untuk menu button */
.topbar .navbar .menu-button{
    margin: 10px;
    background-color: #000;
    border-radius: 20px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #000; /* Tambahan border untuk menambah kesan premium */
    transition: background-color 0.3s ease, border 0.3s ease;
}

.topbar .navbar .menu-button img {
    width: 32px; /* Ukuran gambar lebih kecil dan proporsional */
    height: 32px;
    border-radius: 50%;
    border: 1px solid #000; /* Tambahan border untuk menambah kesan 3D */
    transition: border 0.3s ease;
}

.topbar .navbar .menu-button:hover {
    background-color: purple; /* Warna berubah saat hover */
    border: 1px solid white; /* Border berubah warna saat hover */
}

.topbar .navbar .menu-button:hover img {
    border: 1px solid purple; /* Border gambar berubah warna saat hover */
}

.topbar .navbar .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none; /* Initially hidden */
}

.topbar .navbar .menu-button:focus + .dropdown-menu,
.topbar .navbar .dropdown-menu:hover {
    display: block; 
}

.topbar .navbar .dropdown-menu li {
    list-style: none;
}

.topbar .navbar .dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.2s;
}

.topbar .navbar .dropdown-menu li a:hover {
    background-color: #000;
}


.TM-PlayList {
    padding: 0px 30px;
    background-color: #121212;
    border-radius: 10px;
}

.playlist-section {
    margin-top: 10px;
    padding: 0px 30px;
    background-color: #121212;
    border-radius: 10px;
}

.playlist-section h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
}

.playlist-section .List {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.playlist-section .List .item {
    width: 160px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playlist-section .List .item:hover {
    background-color: #000;
}

.playlist-section .List .item img {
    width: 100%;
    border-bottom: 1px solid #282828;
}

.playlist-section .List .item .play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
}


.playlist-section .List .item .play .fa {
    color: #fff;
}

.playlist-section .List .item h4 {
    color: #fff;
    font-size: 16px;
    margin: 10px 10px 0 10px;
}

.playlist-section .List .item p {
    color: #b3b3b3;
    font-size: 12px;
    margin: 5px 10px 10px 10px;
}

.playlist-section .playList{
    margin-top: 14px;
    display: flex;
    gap: 20px;
}

.playlist-section .playList .genres .header,
.playlist-section .playList .music-List .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.playlist-section .playList .genres .header h5{
    font-size: 25px;
    color: #fff;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    padding-left: 20px;
    align-items: center;
    border-radius: 50px;
    background-color: #000;
    margin: 15px;
}

.playlist-section .playList .genres .header h5:hover{
    color: #fff;
}

.playlist-section .playList .genres .header a,
.playlist-section .playList .music-List .header a{
    color: purple;
    font-size: 12px;
}

.playlist-section .playList .genres .items{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.playlist-section .playList .genres .items .item{
    margin-top: 10px;
    padding: 20px 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.playlist-section .playList .genres .items .item:hover{
    background-color: purple;
}

section .nav-Links{
    display: flex;
    align-items: center;
    gap: 20px;
}

section .nav-Links a{
    text-transform: uppercase;
    color: purple;
    transition: all 0.3s ease;
}

section .nav-Links a:hover{
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .result-items .item {
        width: 100%; /* Full width on smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 60px;
        bottom: unset;
        top: 0;
        border-right: none;
        border-bottom: 1px solid #282828;
    }

    .sidebar .navigation ul {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .main-container {
        margin-left: 0;
        padding: 60px 20px 20px 
    }
}

main{
    padding: 20px 36px;
}

main header{
    display: flex;
    align-items: center;
    justify-content: center;
}

main header .Search{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 70%;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

main header .Search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.search-results h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.result-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.result-items .item {
    display: flex;
    align-items: center;
    background-color: #121212;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: calc(50% - 10px); /* Two items per row */
}

.result-items .item:hover {
    background-color: #333;
}

.result-items .item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.result-items .item .info h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.result-items .item .info p {
    color: #b3b3b3;
    font-size: 14px;
}

.result-items .item .play-icon {
    margin-left: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.result-items .item .play-icon:hover {
    color: black;
}